<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>No of products: {{Noproduct}} </p>
<h1>List product is </h1>
<h1>List Name is </h1>
<table border="1" >
    <tr>
        <td>Name:</td>
        <td>Id:</td>
        <td>Email</td>
    </tr>
    {% for x in ClientInfoLists%}
    <tr>
        <td>{{x}}</td>
        <td>{{x.pk}}</td>
        <td>{{x.email}}</td>

    </tr>
 {% endfor %}

</table>


<a href="{% url 'add2' %}">add names</a>
</body>
</html>